#field{
	
}
#ports{
	display:inline-block;
	position:relative;
	float:left;
}
#space{
	display:inline-block;
	position:relative;
	float:left;
}
#wires{
	display:inline-block;
	position:relative;
	float:left;
}
#control{
	width:500px;
	height:650px;
	border:3px double black;
	position:absolute;
	right:0px;
	top:0px;
}
#thechain{
	width:500px;
	border:1px solid grey;
}
.chainEntity{
	position:absolute;
	text-align:center;
	display:inline-block;
	width:100px;
	height:78px;
	background-size:100% 100%;
}
.port{
	background-image:url(rozetka.png);
	background-size:100% 100%;
	width:100px;
	height:100px;
	border:1px solid black;
}
.wire{
	width:100px;
	height:100px;
	border:1px solid black;
}
.space{
	width:300px;
	border:1px solid red;
}
#robot{
	position:absolute;
	width:100px;
	height:100px;
	background-image:url(robot.gif);
	background-size:100px 100px;
}
#unobj{
	position:absolute;
	width:100px;
	height:100px;
	background-image:url(ufo.gif);
	background-size:100px 100px;
}
#holding{
	position:absolute;
	border:1px solid grey;
	left:550px;
	width:50px;
	height:50px;
}